portal/App_WebReferences/tokenservice/TokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetToken">
        <s:complexType />
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetTokenByTimeOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TimeOut" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenByTimeOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenByTimeOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoByTokenResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LDAPUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HeadShip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetTokenByTimeOutSoapIn">
    <wsdl:part name="parameters" element="tns:GetTokenByTimeOut" />
  </wsdl:message>
  <wsdl:message name="GetTokenByTimeOutSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenByTimeOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenByTimeOutAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoByToken" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoByTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="TokenServiceSoap">
    <wsdl:operation name="GetToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">身份验证方法</wsdl:documentation>
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenByTimeOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">身份验证方法</wsdl:documentation>
      <wsdl:input message="tns:GetTokenByTimeOutSoapIn" />
      <wsdl:output message="tns:GetTokenByTimeOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByToken">
      <wsdl:input message="tns:GetUserInfoByTokenSoapIn" />
      <wsdl:output message="tns:GetUserInfoByTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenServiceSoap" type="tns:TokenServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTokenAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenByTimeOut">
      <soap:operation soapAction="http://tempuri.org/GetTokenByTimeOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTokenByTimeOutAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByToken">
      <soap:operation soapAction="http://tempuri.org/GetUserInfoByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenServiceSoap12" type="tns:TokenServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTokenAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenByTimeOut">
      <soap12:operation soapAction="http://tempuri.org/GetTokenByTimeOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTokenByTimeOutAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByToken">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfoByToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="TokenServiceSoap" binding="tns:TokenServiceSoap">
      <soap:address location="http://192.168.8.105/CmsDeployWebService/TokenService.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenServiceSoap12" binding="tns:TokenServiceSoap12">
      <soap12:address location="http://192.168.8.105/CmsDeployWebService/TokenService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>